# Nexus (source) repository
NEXUS_REPO=reg.example.com
NEXUS_API=http://repo.example.com/service/rest/v1/components?repository=reg.example.com
# Artifactory (destination) configuration
ARTIFACTORY_USER=your_artifactory_username
ARTIFACTORY_PASSWORD=your_artifactory_password
ARTIFACTORY_REPO=docker-repo-hosted
DEST_REPO=artifactory.example.com/target-namespace


MAX_WORKER=6
MAX_RETRY=3
RETRY_DELAY=3